@import "./vars.less";

.page-enter-active, .page-leave-active {
  transition: opacity .2s ease-in-out;
}

.page-enter, .page-leave-to {
  opacity: 0.01;
}

.page {
  width: 100%;
}

.mu-item, .mu-list-item {
  height: 48px;
}

.selected .mu-icon {
  color: @primaryColor;
}

.hidable {
  transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
  opacity: .99;
}

.hide {
  visibility: hidden;
  opacity: .01;
}
